
.hidden{
	visibility: hidden;
}

input{
	min-width: 120px;
}
input[type="radio"],input[type="checkbox"]{
	width: 50px;
}

#bod {
	background-image: url('http://vignette2.wikia.nocookie.net/creepypasta/images/4/4c/Forest-background-18572-19042-hd-wallpapers.jpg/revision/latest?cb=20140729112229');
}

#title {
	background-color: white;
	text-align: center;
}

.background {
	background-image: url('http://www.planwallpaper.com/static/images/Nature-Background-Wallpapers-8_gxwmqmj.jpg');
}

nav {
	height: 750px;
}

img {
	height: 175px;
	width: 175px;
}

.home {
	height: 200px;
	width: 200px;
	float: left;
	margin: 50px;
}

form {
	height: 600px;
	width: 350px;
}

.id{
	font-size: 15px;
	font-weight:bold;
	margin-left: 10px;
}
.doorState .glyphicon{
	position: absolute;
	top: 0px;
	left: 0px;
	color: red;
}
.errorState{
	clear: both;
	width: 100%;
	font-size: 11px;
}
